cold-email-0yL7OqimjAbsOR1z.json
{"updatedAt":"2025-09-23T12:36:34.329Z","createdAt":"2025-09-23T12:36:34.329Z","id":"0yL7OqimjAbsOR1z","name":"cold email","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1248,16],"id":"624ecb85-02d0-476d-8295-187aa4f46d25","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"cea9ec35-3782-4037-822e-7ca07cb4be55","name":"Biz Email","value":"={{ $('Get row(s) in sheet').item.json['Biz Email'] }}","type":"string"},{"id":"b29c48ad-3ebf-4a18-b365-3ef00d27ffb5","name":"Subject","value":"={{ $('Get row(s) in sheet').first().json.Subject }}","type":"string"},{"id":"3a9e651d-35db-4e68-acd4-330211d8b838","name":"Script","value":"={{ $('Get row(s) in sheet').first().json.Script }}","type":"string"},{"id":"baa38f39-ab0b-45f5-b570-31af721f2be5","name":"Email Account","value":"={{ $json['Email Account'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,16],"id":"2b808285-515d-42df-a021-8c83c2982097","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-576,16],"id":"92aec1da-bb78-4dd3-ad92-d4bad5c8cb39","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"8e5dfcdf-c939-4f7f-a6e1-a33ded5f1e14","name":"Biz Email","value":"={{ $json['Biz Email'] }}","type":"string"},{"id":"d6199bf3-2abb-4869-ae26-9956511f46d1","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"6f4c7920-faa6-4f5f-a680-1853f05c35db","name":"Script","value":"={{ $json.Script }}","type":"string"},{"id":"5a1af0aa-b335-4b30-917e-7e519d2050df","name":"Email Account","value":"={{ $json['Email Account'] }}","type":"string"},{"id":"436b5324-e41a-414b-ae25-7b3049879557","name":"Random Num","value":"={{ Math.floor(Math.random() * (7 - 2 + 1)) + 2 }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,32],"id":"8e1ab419-ad9e-4601-88f2-9b8fe4a33810","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields1').item.json['Email Account'] }}","rightValue":"Ankit young","operator":{"type":"string","operation":"equals"},"id":"0409a868-9d3f-4029-b0ff-9269acbf9ce5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"022d0db9-6ba8-43f4-a9db-fcf078586f99","leftValue":"={{ $('Edit Fields1').item.json['Email Account'] }}","rightValue":"Ankit old","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51868102-1d13-439e-9c60-6478915f75af","leftValue":"={{ $('Edit Fields1').item.json['Email Account'] }}","rightValue":"ethan carter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7117969-59c8-43a2-9a50-605f154b941f","leftValue":"={{ $json['Email Account'] }}","rightValue":"Mason","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-336,256],"id":"9d93dd3c-0191-4602-bcb8-3b549ca1bf2e","name":"Switch"},{"parameters":{"amount":"={{ $json['Random Num'] }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-544,288],"id":"c7281b8e-0b13-4d92-9e67-6d1e347730a3","name":"Wait1","webhookId":"117966d8-d85c-4938-82f3-8ea993b58d54"},{"parameters":{"documentId":{"__rl":true,"value":"136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE","mode":"list","cachedResultName":"Solar Leads | Website (Mid)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":606376511,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE/edit#gid=606376511"},"filtersUI":{"values":[{"lookupColumn":"Used By","lookupValue":"Ankit"},{"lookupColumn":"Sent","lookupValue":"No"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1024,16],"id":"f57d989e-9d61-48ac-a97d-009deeaeb4cb","name":"Get row(s) in sheet"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE","mode":"list","cachedResultName":"Solar Leads | Website (Mid)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":606376511,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/136uYwVD_FNqRsBofl6kukYWx5B5oDnlgQoxzE_3dHUE/edit#gid=606376511"},"columns":{"mappingMode":"defineBelow","value":{"Biz Email":"={{ $('Switch').item.json['Biz Email'] }}","Sent":"Yes"},"matchingColumns":["Biz Email"],"schema":[{"id":"Total:","displayName":"Total:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Used By","displayName":"Used By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Account","displayName":"Email Account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sent","displayName":"Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Business","displayName":"Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Biz Email","displayName":"Biz Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Loaction","displayName":"Loaction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company info","displayName":"Company info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,368],"id":"dcf10a22-8607-4675-bc43-e551ba294a4b","name":"Append or update row in sheet"},{"parameters":{"sendTo":"={{ $json['Biz Email'] }}","subject":"={{ $json.Subject }}","emailType":"text","message":"={{ $json.Script }}\n\nBest Regards,\nAnkit Rai\nCo-Founder\nRapple Media\n\nEmail: ankit.rapplemedia@gmail.com\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,0],"id":"d66333b9-4ed3-4d49-99cb-15a476bb500d","name":"Send a message","webhookId":"0ba5b907-9929-4e01-a508-50cefea10b2a"},{"parameters":{"sendTo":"={{ $json['Biz Email'] }}","subject":"={{ $json.Subject }}","emailType":"text","message":"={{ $json.Script }}\n\nBest Regards,\n\nAnkit Rai\nCo-founder\nRapple Media\n\nEmail:ankitrai.rapplemedia@gmail.com","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,192],"id":"3ef28161-180a-479a-9741-80e99c824bdf","name":"Send a message1","webhookId":"0ba5b907-9929-4e01-a508-50cefea10b2a"},{"parameters":{"sendTo":"={{ $json['Biz Email'] }}","subject":"={{ $json.Subject }}","emailType":"text","message":"={{ $json.Script }}\n\nBest Regards,\n\nEthan Carter\nMarketing Head\nRapple Media\n\nEmail: ethancarterreads@gmail.com","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,384],"id":"4a69fddc-5b6d-4ef0-a8cf-c9cec700924a","name":"Send a message2","webhookId":"0ba5b907-9929-4e01-a508-50cefea10b2a"},{"parameters":{"sendTo":"={{ $json['Biz Email'] }}","subject":"={{ $json.Subject }}","emailType":"text","message":"={{ $json.Script }}\n\nBest Regards,\n\nMason Reed\nMarketing Head\nRapple Media\n\nEmail : masonreedtalks@gmail.com","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,576],"id":"30bed3d0-6372-4a21-9181-94c77c4dbc73","name":"Send a message3","webhookId":"0ba5b907-9929-4e01-a508-50cefea10b2a"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}],[{"node":"Send a message3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Send a message2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Send a message3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"03184317-41b1-41f1-8311-a80b2ff3166e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-23T12:36:34.341Z","createdAt":"2025-09-23T12:36:34.341Z","role":"workflow:owner","workflowId":"0yL7OqimjAbsOR1z","projectId":"plCKaE81ijcY6r0c"}],"activeVersion":null,"tags":[]}