main_workflow-8HWjtI8fR9sgKJId.json
{"updatedAt":"2025-09-23T12:59:53.557Z","createdAt":"2025-09-23T12:59:53.557Z","id":"8HWjtI8fR9sgKJId","name":"Main_workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"=define","text":"=Email & Name for booking consultation:\n{{ $json.text }}\n\nLead Info:\n{{ $json.extraPrompt }}\n\nTrigger from Channel: \n{{ $json.trigger }}","options":{"systemMessage":"=## 1. Core Identity & Goal\n\nYou are a friendly, efficient sales assistant focused on **residential solar panel systems**. Your job is to chat with leads, answer service questions using the knowledge base, qualify interest, collect contact details, **log everything in the CRM (`crmAgent`)**, and **book consultations (`calendarAgent`)**.\n\n## 2. Knowledge Source (CRITICAL)\n\n* Use **`technical_and_sales_knowledge` ONLY** to explain solar services, benefits, comparisons, warranties, and handle pricing (focus on value, no specific numbers).\n* **Do NOT use external info.** If something’s missing, ask the user or suggest a consultation. Never say “I don’t know.”\n\n## 3. Communication Rules (CRITICAL)\n\n* **Short & Conversational:** Max 160 characters per message. Keep it friendly.\n* **One Thought at a Time:** Give small chunks of info. Ask one question at a time.\n* **No Lists:** Avoid bullets or numbers.\n* **No Handoff Language.** Never say “Let me connect you.”\n\n## 4. Conversation Flow & Actions\n\n### State: INITIAL\n\n* **Goal:** Greet the user.\n* **Action:** Start with a simple hello like: “Hi! How can we help you?”\n* Only mention solar panels or consultations if the user brings it up first.\n* **Move to QUALIFYING when user shows interest.**\n\n### State: QUALIFYING\n\n* **Goal:** Understand the user's solar needs.\n* **Action:** Use `technical_and_sales_knowledge` to answer questions and explain solar options. Confirm if they want a consultation.\n* **Move to CONTACT\\_COLLECTION only after clear interest.**\n\n### State: CONTACT\\_COLLECTION\n\n* **WhatsApp Trigger:** **Skip this step** — you already have contact info.\n* **Other Triggers:**\n\n  * Ask for **First Name**.\n  * Then ask for **Email Address**.\n  * Save to memory (`contact.collectedInfo`).\n  * **Use `crmAgent` right after collecting info** to log the lead.\n  * **Move to SCHEDULING** after CRM step.\n\n### State: SCHEDULING\n\n* **Goal:** Book a consultation using `calendarAgent`.\n* **Requirements:** Name + Email must be saved and logged.\n* **Steps:**\n\n  * Ask for a preferred date and time.\n  * Use `calendarAgent` when you get a specific time.\n  * After booking, use `crmAgent` to update status to ‘Consultation Scheduled’.\n  * **Move to FOLLOW\\_UP.**\n\n### State: FOLLOW\\_UP\n\n* **Goal:** Confirm the booking details.\n* **Action:** Repeat date/time and let them know a calendar invite will go to their email.\n\n## 5. Response Examples\n\n* “Got it! A solar consultation could be a great step. Can I grab your first name to set it up?”\n* “Thanks, \\[Name]. Got your email. Let’s pick a time that works for your consultation. Any preferred day or time?”\n* “You’re set for Thursday at 3 PM. You’ll get a calendar invite to \\[Email]. Talk soon!”\n\n## 6. Memory Management\n\n```json\n{\n  \"contact\": {\n    \"verified\": false,\n    \"collectedInfo\": {\n      \"name\": \"\", \"email\": \"\", \"serviceInterest\": \"\", \"timingPreference\": \"\"\n    },\n    \"state\": \"CURRENT_STATE\",\n    \"lastStateChange\": \"timestamp\"\n  }\n}\n```\n\n## 7. Final Checks\n\n* Stick to the state flow.\n* Use `crmAgent` right after contact info is collected and again after booking.\n* Only use `calendarAgent` after all info is collected.\n* Adhere strictly to Communication Rules & Knowledge Source limits.\n\nIMPORTANT: Current date/time: {{ $now }}\nIMPORTANT: Trigger: {{ $json.trigger }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2144,608],"id":"2aae1372-7583-414c-a660-21310ed36ad0","name":"AI Agent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1808,608],"id":"88038b7b-db2b-49bf-9237-b2ac59eb0707","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9df0a1da-742d-4ac6-b4f8-a76006c314db","leftValue":"={{ $('No Operation, do nothing').item.json.trigger }}","rightValue":"facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98550c9d-4266-4694-8d5a-a3972d6aad22","leftValue":"={{ $('No Operation, do nothing').item.json.trigger }}","rightValue":"instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd8bf574-3e33-42fb-9cb0-05f2482a039c","leftValue":"={{ $('No Operation, do nothing').item.json.trigger }}","rightValue":"chat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chat"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2928,560],"id":"2a84bddc-ce36-49c1-a303-088682d82c43","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"26a3553a-f37b-4f46-9a84-3f1661a5d152","name":"trigger","value":"facebook","type":"string"},{"id":"11ae4f49-44ec-4416-a8d2-49a15fdf1e63","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"3cfa9c98-dca2-43e6-9d69-7a20f61772f6","name":"sessionId","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"b103277f-d1ef-498f-9286-14b0b7718c5d","name":"extraPrompt","value":"This conversation took place on Facebook Messenger.\n\nIf user is interested in your service, you can send the lead form to user and ask filling in\n\nYour response must be less then 300 chars.","type":"string"},{"id":"f8d11aca-c325-4d8c-9c67-ef9440756f05","name":"channelId","value":"={{ $json.body.entry[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,304],"id":"1f777d78-108c-46e7-b00a-ce593fe39e27","name":"Edit Fields - facebook"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,592],"id":"d4f2ed74-7fca-468e-97f3-9d453793f9a6","name":"Respond to Webhook - facebook get"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7dee1826-e2b5-44ea-9c0f-a0adb5bc740c","leftValue":"={{ $json.body.entry[0].messaging[0].message?.is_echo }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,320],"id":"b96310fa-3878-491d-9ed1-115c882f2767","name":"If is not echo - facebook"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v21.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"sender_action\":\"typing_on\"\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1248,64],"id":"d56a31b7-3299-4961-baa0-d58f913ce659","name":"Sales Agent Demo - typing_on"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $('No Operation, do nothing').item.json.sessionId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.output.substring(0,1000)) }}\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[3184,480],"id":"0ce19a32-d499-41e7-9510-4d84004dba70","name":"Facebook Graph API - Sales Agent Demo"},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v23.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\":{\n    \"id\":\"{{ $('No Operation, do nothing').item.json.sessionId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.output.substring(0,1000)) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,704],"id":"ef8fe8f5-863c-4460-8c73-bb966ae84a33","name":"Instagram Graph API - smb.sales.agent.demo"},{"parameters":{"respondWith":"text","responseBody":"\"EVENT_RECEIVED\"","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[560,352],"id":"d1ab84d5-e83a-4e81-b9ee-937c4ee244d0","name":"Respond to Webhook"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[592,1088],"id":"d03121a1-2b06-4c24-9e17-b54f94ba7ade","name":"Respond to Webhook - facebook get1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7dee1826-e2b5-44ea-9c0f-a0adb5bc740c","leftValue":"={{ $json.body.entry[0].messaging[0].message?.is_echo }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,880],"id":"c37af743-5cfe-42d9-9017-d6bb2550fcd2","name":"If is not echo - facebook1"},{"parameters":{"respondWith":"text","responseBody":"\"EVENT_RECEIVED\"","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[592,880],"id":"03703eb5-2356-432c-aa84-ed5e81299e7c","name":"Respond to Webhook1"},{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET"],"path":"Insta-Trigger","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[144,912],"id":"28eaca2a-3ebf-4572-84bd-337c1dedd15b","name":"Instagram Trigger1","webhookId":"b7e461f0-9a0d-4e27-9e86-f74a3e684e3a"},{"parameters":{"assignments":{"assignments":[{"id":"26a3553a-f37b-4f46-9a84-3f1661a5d152","name":"trigger","value":"instagram","type":"string"},{"id":"11ae4f49-44ec-4416-a8d2-49a15fdf1e63","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"3cfa9c98-dca2-43e6-9d69-7a20f61772f6","name":"sessionId","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"f128bfd3-f02e-4444-8556-39fadb07d08e","name":"extraPrompt","value":"This conversation took place on Instagram.\n\nYour response must be less then 500 chars.","type":"string"},{"id":"679e091e-d9dd-4cc3-b5a1-97f3790e09d0","name":"channelId","value":"={{ $json.body.entry[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,864],"id":"1cf26651-59d0-4ba8-b6d6-5ebb067ff900","name":"Edit Fields - instagram"},{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET"],"path":"Facbook-Trigger","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,368],"id":"cf224df9-f0b3-4c1e-abb9-6117ec439027","name":"Facebook Trigger","webhookId":"b7e461f0-9a0d-4e27-9e86-f74a3e684e3a"},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"3f6425ba-55ce-4c94-ac9e-4e9e247d549a","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2000,1440],"typeVersion":1},{"parameters":{"options":{}},"id":"e9f99e9a-b5a8-4408-b320-8bd1828fc6b8","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2448,1328],"typeVersion":1},{"parameters":{"name":"calendarAgent","description":"Use this tool to schedule a consultation appointment in the calendar. You must provide the attendee's email address and the proposed start time in ISO 8601 format. You can optionally provide the attendee's name and a summary.\n\n","workflowId":{"__rl":true,"value":"TkHxvBI0iEyvD1P6","mode":"list","cachedResultName":"Calendar workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[2624,848],"id":"af60b9a5-9dea-4249-9aae-f8da92a664c5","name":"Calendar Agent"},{"parameters":{"name":"crmAgent","description":"Call this tool to take any action from CRM","workflowId":{"__rl":true,"value":"nu8l4lx88kpzTeoc","mode":"list","cachedResultName":"CRM workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[2464,848],"id":"fc4e0827-e7ab-4b02-968a-9c39bca45592","name":"CRM Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2240,848],"id":"051f3f2e-742e-46b8-9254-91c7528a5278","name":"Postgres Chat Memory"},{"parameters":{"name":"sales_technique_knowledge","description":"Retrieve information about sales technique and company details","topK":"=10"},"id":"453d2356-ab39-4415-b4c9-930152677327","name":"sales_technique_knowledge","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[2272,1104],"typeVersion":1},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2064,1264],"id":"60a43a33-1791-48ff-bfa4-3c2e131ad5b5","name":"Supabase vector store"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"14yV_R8xYeQdzlIg6TuHwuMCswVdn_yrgFgBjK13BQ_Q","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1744,2912],"id":"222b7874-bc23-489f-bcc0-adaeae0a3d31","name":"Google Drive"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1968,2912],"id":"9c463b8f-0284-4038-b741-d407050dba4c","name":"Supabase Vector Store1"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2112,3152],"id":"48aa880e-eb46-41d1-8439-14e5722d7169","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2208,3360],"id":"ab602d90-d54a-4547-b9b3-f19a29103db1","name":"Recursive Character Text Splitter"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1488,2912],"id":"f9916cf4-cf06-43c0-8b42-d8bda7df7348","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1888,3184],"id":"5655175c-8557-4ab9-b276-0b845be522ba","name":"Embeddings OpenAI1"},{"parameters":{"assignments":{"assignments":[{"id":"84dc8840-97a0-47d4-8a18-0608a1b357ae","name":"trigger","value":"chat","type":"string"},{"id":"9a46b726-e9aa-4cb5-8c1a-d6d38b920908","name":"text","value":"={{ $json.chatInput }}","type":"string"},{"id":"e2b7a6a0-2677-4b56-b037-f010efb6da46","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"},{"id":"bca35569-12c5-443e-8e08-c9f8718cd31a","name":"extraPrompt","value":"This conversation took place on Chatbox.\n\nYour response must be less then 1000 chars.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,1312],"id":"4d986e37-7380-4f73-8353-6cd842203d51","name":"Edit Fields - chat"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1024,1312],"id":"6767730f-8d74-4761-83fe-88ca44fd1b43","name":"When chat message received","webhookId":"a8f2a9ac-9715-4116-9764-75792127bfb5"},{"parameters":{"content":"## Facebook webhook connection ##","height":760,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"bba2539e-9d00-4b1d-9b91-ff16953428f3","name":"Sticky Note"},{"parameters":{"content":"## Instagram webhook connection ##","height":760,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,800],"id":"5a0318f2-d784-49c8-82e9-46e2fb828b62","name":"Sticky Note1"},{"parameters":{"content":"## DM Agent ##","height":540,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,480],"id":"29e3018c-9822-40a2-b328-ad77c6469b87","name":"Sticky Note2"},{"parameters":{"content":"## Sales data store ##","height":540,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,1040],"id":"79b742a2-14e6-46bb-aa26-c53cf8c3c4c3","name":"Sticky Note3"},{"parameters":{"content":"## SEND REPLAY TO PLATFORMS ##","height":520,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2880,400],"id":"8aca8fea-653d-4557-a323-5797ca7ea018","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2112,848],"id":"08776642-d1d9-4650-a01e-2568c775d6d9","name":"OpenAI Chat Model"}],"connections":{"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Facebook Graph API - Sales Agent Demo","type":"main","index":0}],[{"node":"Instagram Graph API - smb.sales.agent.demo","type":"main","index":0}]]},"Edit Fields - facebook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If is not echo - facebook":{"main":[[{"node":"Edit Fields - facebook","type":"main","index":0},{"node":"Sales Agent Demo - typing_on","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"If is not echo - facebook","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"If is not echo - facebook1","type":"main","index":0}]]},"Instagram Trigger1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook - facebook get1","type":"main","index":0}]]},"If is not echo - facebook1":{"main":[[{"node":"Edit Fields - instagram","type":"main","index":0}]]},"Edit Fields - instagram":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Facebook Trigger":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook - facebook get","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase vector store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"sales_technique_knowledge","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"sales_technique_knowledge":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"CRM Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase vector store":{"ai_vectorStore":[[{"node":"sales_technique_knowledge","type":"ai_vectorStore","index":0}]]},"Google Drive":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields - chat","type":"main","index":0}]]},"Edit Fields - chat":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Instagram Trigger1":[{"json":{"headers":{"host":"narwhal-credible-jaguar.ngrok-free.app","user-agent":"facebookexternalua","content-length":"393","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/json","instagram-api-version":"v23.0","x-forwarded-for":"2a03:2880:10ff:9::","x-forwarded-host":"narwhal-credible-jaguar.ngrok-free.app","x-forwarded-proto":"https","x-hub-signature":"sha1=cb626dbe3d173f72142eaa47fd84db9391d56771","x-hub-signature-256":"sha256=49e72990f2f7d082f98c10d38eb8384f6bd6b68dfed4fb15d6db574ab10cedf0"},"params":{},"query":{},"body":{"object":"instagram","entry":[{"time":1751259112682,"id":"17841460144744883","messaging":[{"sender":{"id":"7165208810256109"},"recipient":{"id":"17841460144744883"},"timestamp":1751259112000,"message":{"mid":"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDYwMTQ0NzQ0ODgzOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAxODc0MjA3NTMwMDI0NjozMjMwNTAyODY0NTgzMzAwNzM4MDk0Mjg3NDg3NTAwMjg4MAZDZD","text":"hi"}}]}]},"webhookUrl":"https://narwhal-credible-jaguar.ngrok-free.app/webhook/Insta-Trigger","executionMode":"production"}}]},"versionId":"112e9b51-7d8c-4fae-82db-e5f3370533d6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-23T12:59:53.572Z","createdAt":"2025-09-23T12:59:53.572Z","role":"workflow:owner","workflowId":"8HWjtI8fR9sgKJId","projectId":"plCKaE81ijcY6r0c"}],"activeVersion":null,"tags":[]}