social-auto-post-Ff9BQr7x0yPDP5nO.json
{"updatedAt":"2025-09-11T11:01:56.000Z","createdAt":"2025-09-10T19:18:25.551Z","id":"Ff9BQr7x0yPDP5nO","name":"Social Auto Post","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/195eUfdPK3mvK_wWxl_UgQ8jiW_m80IfjF1fe9EGjRIg/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/195eUfdPK3mvK_wWxl_UgQ8jiW_m80IfjF1fe9EGjRIg/edit?gid=0#gid=0","mode":"url"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"553447ae-d8dc-4d84-b81b-a4d8b08a3f4a","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"u8uuEzjV7yjlu40g","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bbaf30e8-dc58-4372-8070-7a23bdf68cb5","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,0],"id":"36bfde64-1b1a-4fb3-9730-2d8db831e130","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"messages":{"values":[{"content":"=Write a linkedin post for the topic:  {{ $json.Topic }}"},{"role":"model"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[464,-144],"id":"35980375-0016-4538-a392-3e4376be5698","name":"Message a model","credentials":{"googlePalmApi":{"id":"yaZzqYoML7ptqGw8","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-preview-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-preview-image-generation"},"prompt":"=Generate an image that perfectly represents this linkedin post:  {{ $json.content.parts[0].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[784,-144],"id":"9bb99b59-b09b-4f96-9e6c-9d731351e2c1","name":"Generate an image","credentials":{"googlePalmApi":{"id":"yaZzqYoML7ptqGw8","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[992,-144],"id":"26ec105e-327b-455c-a45b-e5279e5ba837","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"9bJDOmmJvW8GwrqB","name":"Google Drive account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"C09ENHHJC82","mode":"list","cachedResultName":"new-channel"},"message":"=[\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"Here's the LinkedIn post for\\n{{$('Message a model').item.json.content.parts[0].text}}\"\n    }\n  },\n  {\n    \"type\": \"image\",\n    \"image_url\": \"{{$json.webViewLink}}\",\n    \"alt_text\": \"LinkedIn preview\"\n  }\n]\n","options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1200,-144],"id":"0ccf226d-1db2-42d3-ae68-4fb00f00f0be","name":"Send message and wait for response","webhookId":"78d6cdde-6146-4329-94e6-8c9245e11845","credentials":{"slackApi":{"id":"5lyPf9Y8T8PTkfOn","name":"Slack account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Sheets Trigger":[{"json":{"Publish Date":"2025-09-11","Topic":"What is Elon Musk Upto?","Status":""}}],"Message a model":[{"json":{"content":{"parts":[{"text":"Of course! Here are a few options for a LinkedIn post about Elon Musk, ranging in tone and focus. You can choose the one that best fits your personal brand.\n\n---\n\n### Option 1: The Balanced & Comprehensive Overview\n\n**Hook:** Trying to keep up with Elon Musk's ventures feels like a full-time job. While one project makes headlines, four others are hitting major milestones.\n\nSo, what is he *actually* up to right now? It's more than just rockets and cars.\n\nHere’s a quick rundown of the key battlefronts:\n\n🚗 **Tesla:** The focus is shifting dramatically towards autonomy. The upcoming \"Robotaxi\" reveal on August 8th is positioned as a pivotal moment, moving Tesla from a car company to an AI & robotics powerhouse. This is happening amidst intense competition and a crucial shareholder vote on his compensation package.\n\n🚀 **SpaceX:** Starship's recent successful test flight was a monumental leap towards making humanity a multi-planetary species. Beyond Mars, the immediate impact is Starlink, which continues to expand its global internet coverage and play a significant geopolitical role.\n\n🧠 **Neuralink:** We've officially entered the era of brain-computer interfaces. The first human patient is now controlling a computer with their thoughts. This is no longer science fiction, and the ethical and technological implications are staggering.\n\n🤖 **xAI:** After raising a staggering $6 billion, xAI is positioning its \"Grok\" chatbot as a truth-seeking alternative to competitors. The goal isn't just to build another AI, but to integrate it deeply across his other companies to create a powerful, data-driven ecosystem.\n\n piattaforma-x **X (formerly Twitter):** The controversial transformation into the \"Everything App\" continues. While facing challenges, the push into long-form content, video, and financial services (X Payments) shows a clear ambition to build a Western version of WeChat.\n\n**The big picture?**\nThis isn't just a collection of separate companies. It's a vertically integrated stack for the future, covering transport, energy, communication, intelligence, and even biology.\n\nWhat do you think is Musk's most impactful venture right now? And which one are you watching most closely?\n\n#ElonMusk #Tesla #SpaceX #Neuralink #xAI #Innovation #Technology #FutureofTech #Leadership #AI\n\n---\n\n### Option 2: The Strategic & Provocative Take\n\n**Hook:** Is there a method to the madness?\n\nElon Musk's chaotic energy often dominates the headlines, but beneath the surface, a startlingly coherent \"master plan\" seems to be taking shape.\n\nHe isn't just building companies; he's building the core pillars for a new kind of civilization.\n\nThink about the interplay:\n*   **xAI** needs massive computing power and data. **Tesla's** fleet provides real-world data for training autonomous systems.\n*   **SpaceX** provides the launch capability for **Starlink**, which provides global connectivity.\n*   **Neuralink** aims to merge human consciousness with AI, which **xAI** is developing.\n*   **X** is the potential platform to integrate it all: communication, content, and commerce powered by his tech stack.\n\nHe's simultaneously tackling energy, transportation, communication, artificial intelligence, and human biology.\n\nThe question is no longer \"What is he doing?\" but \"Will the pieces of this audacious puzzle actually fit together?\"\n\nIs this the most ambitious entrepreneurial vision of our time, or a gamble spread too thin? I'm curious to hear your thoughts.\n\n#MasterPlan #ElonMusk #Strategy #Business #Innovation #Disruption #Tech #Future\n\n---\n\n### Option 3: The Quick & Punchy Version (More informal)\n\nWhat is Elon Musk even doing right now? Let's try to summarize in 60 seconds:\n\n→ **Tesla:** All-in on Robotaxis. The future is cars that drive themselves and make you money.\n→ **SpaceX:** Just launched the world's biggest rocket. Mars is still the goal.\n→ **Neuralink:** A human is controlling a computer with their brain. The future is here.\n→ **xAI:** Raised $6 billion to build an AI that \"understands the universe.\" No small plans.\n→ **X:** Still pushing to become the \"Everything App.\"\n\nLove him or hate him, the scale of ambition is undeniable. He's not just playing the game; he's trying to build a whole new one.\n\nWhich of these ventures do you think will actually change the world the most? 👇\n\n#ElonMusk #TechUpdate #Tesla #SpaceX #AI #Innovation #Future"}],"role":"model"},"finishReason":"STOP","index":0}}]},"versionId":"219c0e35-c24e-434a-a0fe-56602eaf4ee6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-10T19:18:25.613Z","createdAt":"2025-09-10T19:18:25.613Z","role":"workflow:owner","workflowId":"Ff9BQr7x0yPDP5nO","projectId":"plCKaE81ijcY6r0c"}],"activeVersion":null,"tags":[]}