social-media-manager-D9dxgkpJ0SYrlex5.json
{"updatedAt":"2025-09-23T12:35:43.000Z","createdAt":"2025-09-23T12:34:03.907Z","id":"D9dxgkpJ0SYrlex5","name":"social media manager","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo","mode":"list","cachedResultName":"N8N For Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":214306975,"mode":"list","cachedResultName":"YT/Insta Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=214306975"},"columns":{"mappingMode":"defineBelow","value":{"Status ":"posted","row_number":"={{ $('Google Sheets').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Gdrive ID","displayName":"Gdrive ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status ","displayName":"Status ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[528,544],"id":"878b56a0-5f7a-4035-8a3d-9e7c552b01af","name":"Google Sheets1"},{"parameters":{"documentId":{"__rl":true,"value":"1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo","mode":"list","cachedResultName":"N8N For Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":214306975,"mode":"list","cachedResultName":"YT/Insta Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=214306975"},"filtersUI":{"values":[{"lookupColumn":"Status ","lookupValue":"post"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-736,256],"id":"78fc4172-8b16-4514-8dcd-acd6ab64413e","name":"Google Sheets"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.Name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-512,256],"id":"8dfde9fd-5835-4d6e-80c4-a3449a0e0250","name":"Google Drive"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[256,544],"id":"e16f6c51-8788-489d-b652-72f0946d93aa","name":"Google Drive3"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appWxpbrFlXDIUqMf","mode":"list","cachedResultName":"Insta By  passer","cachedResultUrl":"https://airtable.com/appWxpbrFlXDIUqMf"},"table":{"__rl":true,"value":"tblfOrUoo7ypuMzy5","mode":"list","cachedResultName":"Insta Ankit","cachedResultUrl":"https://airtable.com/appWxpbrFlXDIUqMf/tblfOrUoo7ypuMzy5"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Google Sheets').item.json.Name }}","URL":"={{ $('Edit Fields').item.json.id }}","Caption":"={{ $('Google Sheets').item.json.Caption }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,0],"id":"5a3cf4a8-f1f9-47dd-a520-083fdbaef816","name":"Airtable"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Google Sheets').item.json.Title }}","regionCode":"IN","categoryId":"=27","options":{"privacyStatus":"public"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[240,0],"id":"fd5a7345-0ffd-430b-8e7f-acd8501bbb14","name":"YouTube1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"bbeb6232-18b9-46b4-b7f6-92b1e07c9c66","name":"Google Drive1"},{"parameters":{"assignments":{"assignments":[{"id":"f9000ffd-5c60-4a5e-bf0f-a66a205f1d8a","name":"id","value":"=https://drive.google.com/uc?id={{ $json.id }}&export=download","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,256],"id":"57159bd9-f38a-4420-b908-c20f41fd87c8","name":"Edit Fields"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841460144744883","edge":"media_publish","allowUnauthorizedCerts":true,"options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[496,288],"id":"fe241c85-050c-4494-a7fb-e1842a215fec","name":"Intsa Publisher"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,288],"id":"555f50e6-2c77-404d-976f-83bd88d6e2a5","name":"Wait","webhookId":"a047c6c1-7566-4ebb-95af-28a1984382b2"},{"parameters":{"assignments":{"assignments":[{"id":"19bb85f3-d128-40d5-b35c-acb38a4f9c30","name":"caption","value":"O my godzilla","type":"string"},{"id":"eed0ff19-a095-4c43-b893-cd2e189a3cbb","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,1312],"id":"c4a74428-54a3-4469-8c7c-1c690ecd1589","name":"Edit Fields1"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841460144744883","edge":"media","options":{"queryParameters":{"parameter":[{"name":"media_type","value":"REELS"},{"name":"caption","value":"={{ $('Google Sheets').item.json.Caption }}"},{"name":"video_url","value":"={{ $json.fields.URL }}"},{"name":"share_to_feed ","value":"true"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-704,1312],"id":"63fd88fd-733b-4401-8217-a01d682e963a","name":"Container1"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841460144744883","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-240,1312],"id":"308d9e59-c47a-4b64-b065-66844e0e8f54","name":"Intsa Publisher1"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-496,1312],"id":"e3182c3e-40b4-4839-8864-d31cccc4374d","name":"Wait1","webhookId":"a047c6c1-7566-4ebb-95af-28a1984382b2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19},{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,256],"id":"fda5819b-713a-4da0-b24a-29ea82a1eaba","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","queryString":"Posted shorts","filter":{"folderId":{"__rl":true,"value":"1-0f5IZIGDtnQxZArvdux754NiaMg5XJY","mode":"list","cachedResultName":"Reels video Done","cachedResultUrl":"https://drive.google.com/drive/folders/1-0f5IZIGDtnQxZArvdux754NiaMg5XJY"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,544],"id":"02113ce2-ec19-4d15-9674-8f57a98055e8","name":"Google Drive2"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841460144744883","edge":"media","options":{"queryParameters":{"parameter":[{"name":"media_type","value":"REELS"},{"name":"caption","value":"={{ $json.fields.Caption }}"},{"name":"video_url","value":"={{ $json.fields.URL }}"},{"name":"share_to_feed ","value":"true"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[0,288],"id":"54bd78a1-c06d-44e5-a0e9-7a13373bf7a0","name":"Insta Container"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"e6090801-2a22-4627-8a44-e6b29c9b8ef9","leftValue":"={{ $json['Gdrive ID'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"91c3f08f-0ffb-414b-9c91-35f0a3c8f03b","name":"Filter","type":"n8n-nodes-base.filter","position":[-448,912],"notesInFlow":true,"typeVersion":2,"notes":"Only process rows which have empty processed_at field"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('Google Sheets2').item.json.Post }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[144,768],"id":"e8d47240-6109-4271-8e62-bb0e7366adb9","name":"Facebook Graph API"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $json['Gdrive ID'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,912],"id":"9f00e419-8ff6-44af-8110-ca8bcc630884","name":"HTTP Request"},{"parameters":{"person":"prsCGctp8n","text":"={{ $json.Post }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[144,976],"id":"6ce47331-8c8f-4f34-ab48-ab3075ca3f6b","name":"LinkedIn"},{"parameters":{"documentId":{"__rl":true,"value":"1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo","mode":"list","cachedResultName":"N8N For Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1480046470,"mode":"list","cachedResultName":"Lindin/Fb ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=1480046470"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Ready"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-688,912],"id":"37e1f213-2621-4888-a25f-97834add3fea","name":"Google Sheets2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo","mode":"list","cachedResultName":"N8N For Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1480046470,"mode":"list","cachedResultName":"Lindin/Fb ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=1480046470"},"columns":{"mappingMode":"defineBelow","value":{"Gdrive ID":"={{ $('Google Sheets2').item.json['Gdrive ID'] }}","Status":"Posted"},"matchingColumns":["Gdrive ID"],"schema":[{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Gdrive ID","displayName":"Gdrive ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[400,976],"id":"a837d7d7-a808-40fc-9c84-994ff5410b84","name":"Google Sheets3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19},{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1024,912],"id":"39796811-5a68-4f43-b32d-e04fa51a151d","name":"Schedule Trigger1"}],"connections":{"Google Sheets":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Insta Container","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"YouTube1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"YouTube1":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Intsa Publisher":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Intsa Publisher","type":"main","index":0}]]},"Container1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Intsa Publisher1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Container1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Insta Container":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Facebook Graph API","type":"main","index":0},{"node":"LinkedIn","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0bcf6ae6-1aa8-4c82-a306-4b373e1c837c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-23T12:34:03.926Z","createdAt":"2025-09-23T12:34:03.926Z","role":"workflow:owner","workflowId":"D9dxgkpJ0SYrlex5","projectId":"plCKaE81ijcY6r0c"}],"activeVersion":null,"tags":[]}